/* styles.css */

.headone,
.headtwo {
  color: #395144;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.headone {
  font-size: 30px;
}

.headtwo {
  font-size: 25px;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}